body {
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: "Nunito", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 60px;
}

header div {
  background-image: url("../img/Pipe.png");
  background-repeat: no-repeat;
  width: 685px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 35px;
  color: #f4f4f4;
  line-height: 55px;
}

header div p {
  margin: 0 80px;
}

header button {
  background: #e52521;
  border: 3px solid #f4f4f4;
  border-radius: 10px;
  width: 200px;
  height: 52px;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #ffffff;
  margin-right: 80px;
}

main {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 0 auto;
  width: 80%;
  grid-column-gap: 20px;
  grid-row-gap: 70px;
}

main img {
  height: 200px;
  width: 200px;
}
